@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-v34-latin_cyrillic-regular.woff') format('woff'),
    url('../fonts/open-sans-v34-latin_cyrillic-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-v34-latin_cyrillic-700.woff') format('woff'),
    url('../fonts/open-sans-v34-latin_cyrillic-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
