.layout {
  height: 100%;
  max-height: 100%;

  &__header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    background-color: #fff !important;
    border-bottom: 1px solid #ddd;

    &-main {
      padding: 0 15px;
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .actions {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        > * {
          margin-left: 30px;
          height: 100%;
          display: flex;
          align-items: center;
        }

        .user-action {
          cursor: pointer;
        }
      }
    }

    .logo {
      cursor: pointer;
      height: 64px;
      width: 200px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9;

      img {
        width: auto;
        height: 30px;
      }
    }
  }

  &__sider {
    background-color: #fff !important;
    box-sizing: border-box;
    border-right: 1px solid #f0f0f0;
    margin-bottom: 10px;
  }

  &__side-menu {
    border-right: none !important;
    .anticon {
      flex-shrink: 0;
      width: 1.5em;
      height: 1.5em;
    }
  }
  .ant-menu-inline-collapsed {
    width: 79px !important;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    background-color: #fff;

    > :nth-child(1) {
      min-height: 100%;
      padding: 16px;

      .page-header {
        justify-content: space-between;
        width: 100%;
        margin-bottom: 16px;
      }

      // .page-filter {
      //   @bg-color: #f0f5ff4d;
      //   box-sizing: border-box;
      //   position: relative;
      //   display: flex;
      //   flex-direction: column;
      //   padding: 16px 0;
      //   margin-bottom: 16px;
      //   background-color: @bg-color;
      //   &::before {
      //     content: "";
      //     position: absolute;
      //     left: -16px;
      //     top: 0;
      //     bottom: 0;
      //     width: 16px;
      //     background-color: @bg-color;
      //   }
      //   &::after {
      //     content: "";
      //     position: absolute;
      //     right: -16px;
      //     top: 0;
      //     bottom: 0;
      //     width: 16px;
      //     background-color: @bg-color;
      //   }
      //   > :nth-child(2) {
      //     align-self: flex-end;
      //   }

      //   &-group {
      //     min-width: 240px;
      //     padding-bottom: 10px;

      //     &__title {
      //       display: inline-block;
      //       margin-bottom: 4px;
      //     }

      //     .ant-select { width: 100%; }
      //   }
      // }
    }
  }
}
