@import 'assets/scss/variables';

.root {
  min-height: 100vh;
  padding: 18px 40px 30px 40px;
}

.wrapper {
  width: 440px;
  margin: 0 auto;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  background-color: $gray-1;
}
