@import 'assets/scss/variables';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 16px;
  color: $gray;
}
